<form action="" method="post">
    {% csrf_token %} {% if form.non_field_errors %}
    <div class="alert alert-danger" style="margin-top: 10px;">
        {% for error in form.non_field_errors %}
        <strong>{{ error }}</strong>
        {% endfor %}
    </div>
    {% endif %} {% for field in form %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ field.label }}</span>
        </div>
        {{ field }}
    </div>
    {% if field.errors %}
    <div class="alert alert-dismissible alert-danger fade show" style="margin-top: 10px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ field.label }}錯誤</strong>
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %} {% endfor %}

    <button type="submit" class="btn btn-info float-right">送出</button>
</form>

<style>
    textarea {
        resize: none;
    }
</style>